.all-mov {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: black;
  overflow: hidden;
}

.head-app3 {
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.spins {
}
.spins {
  color: white;
}
.carous{
  display: flex;
}
.spin{
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
}
.spin-u{
  height: 20vh;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.spin span{
  padding: 0;
  display: inline;
  justify-content: center;
}
.info{
  display: flex;
  
  padding-left: ;
}
.ratings{
  width: 170px;
  padding-left: 10px;
}
.app3 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  
}
.app3 a{
  margin: 10px 0;
}
.head-info{
width: 100%;
justify-content: center;
}
#gg3{
  padding: 25px 0px 0px 20px;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 580px) {
  #gg3{
    padding: 25px 0px 0px 10px;
  }
  .head-info{
    width: 55px;
  }
  .app3 {
    display: grid;
    padding-left: 20px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
  }
  .carous img{
    width: 100px;
  }
  .app3 a .head-info{
    padding: 10px;
  }
  
}
.appp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.appp a{
  flex: 1;
  min-width: 150px;
  margin: 20px 0;
  max-width: 170px;
}
@media screen and (max-width: 600px) {
  .appp a{
    min-width: 120px;
    max-width: 150px;
  }
}