.all-mov {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: black;
}

.head-app3 {
  
}
.spins {
}
.spins {
  color: white;
}
.spin{
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;

}
.spin-u{
  height: 20vh;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.spin span{
  padding: 0;
  display: inline;
  justify-content: center;
}
.info{
  display: flex;
  
  padding-left: ;
}
.ratings{
  width: 170px;
  padding-left: 10px;
}
.app3 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  
  margin: 20px 0;
}
.app3 a{
  margin: 10px 0;
}
.head-info{
width: 100%;
justify-content: center;
}
#gg3{
  padding: 25px 0px 0px 20px;
  font-size: 20px;
  color: blue;
}
.app3{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 580px) {
  #gg3{
    padding: 25px 0px 0px 10px;
  }
  .head-info{
    width: 55px;
  }
  .app3 {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
  }
  .app3 a .head-info{
    padding: 10px;
  }
}
