
   .inf{
    width: 180px;
    font-family: var(--font-raleway);
    font-size: 15px;
    font-weight: bold;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
    color: white;
  }
  
   .ratings-p:first-child{
     background-color: transparent;
   }
   .ratings-p :last-child{
     font-family: var(--font-raleway);
     padding-top: 1px;
     padding-left: 3px;
     padding-right: 3px;
     letter-spacing: 1px;
     font-size: 10px;
     border-radius: 5px;
     font-weight: bold;
     
   }
   .year{
    background-color: #343739;
    color: white;
    font-size: 15px;
    background-color: transparent;
  }